*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: ceter;
    background:#1d4444;
    min-height: 100vh;
  
}
.converter-container{
    background:#ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0, 0.5);
    backdrop-filter: blur(8px);
    padding: 24px 30px;
    text-align: center;
}
.converter-container h1{
    font-size: 28px;
    text-decoration: underline;
    color: hsl(225, 6%, 13%);
    margin-bottom : 40px;
}
.converter-container .input-container{
    border: 2px solid #bbbbbd;
    border-radius: 40px;
    margin-block: 20px;
}
.converter-container .input-container input,.converter-container.input-container select{
    width: 150px;
    outline: none;
    border: none;
    font-size: 20px;
    overflow: hidden;
}
.converter-container .input-container : focus-within {
    border-color: green;
}
.converter-container .arrow
{
  transform: rotate(90deg);
  font-size: 44px;                         
}
.converter-container .result{
    font-size: 20px;
    font-weight: 700 ;
    margin-top: 20px;
}
@media screen and(max-width:420px){
    .converter-container{
        width: 80%;
        margin: 0 auto;
    }
    .converter-container h1{
        font-size: 22px;
    }
    .converter-container .input-container{
        border: none;

    }
.converter-container .input-container input,.converter-container .input-container select{
    border: 1 px solid #ccc;
    margin-block: 4px;
    width: 100%;

}
}