 @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background: #edeaff;
      font-family: "Courier Prime", monospace;
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-color: rgb(24, 82, 82);
    text-align: center;
    padding: 40px 0;
    color: white;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
    border-radius: 50%;
    
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons i{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 30px;
}
.buttons i:nth-child(2){
    font-size: 70px;
    padding: 20px ;
}